<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SEARCH VUE</title>
    <link rel="stylesheet" href="css/materialize.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="css/search.css">
</head>
<body>

    <div id="search" @click="eventTarget($event.target)">

        <a id="menu" class="viewed-btn btn-floating waves-effect" @click="showMenu = !showMenu">
            <i class="material-icons">turned_in_not</i>
        </a>

        <div id="viewed-menu" class="viewed-menu card" v-show="showMenu">
            <ul v-if="viewedFilms.length > 0">
                <li v-for="(film, i) in viewedFilms">
                    <span>{{++i}}. {{film.title}}</span>
                    <a class="btn btn-small" @click.stop="deleteFilm(film)">удалить</a>
                </li>
            </ul>

            <span v-else>У вас нет просмотренных фильмов</span>
        </div>

        <h5>{{header}} Бузендорф, {{request.toLowerCase()}}</h5>
        <h5>{{computedHeader}}</h5>

        <div id="search-console">
            <input type="text" id="search-input" style="color: #595959" v-model.trim="request" @focus="request = ''">
        </div>

        <div class="card film-card" v-for="(film, i) in filteredFilms" v-bind:id="i">
            <p>{{++i}}. {{film.title}}</p>
<!--            <a class="btn waves-effect" @click="viewedFilms.indexOf(film) === -1 && viewedFilms.push(film)">Добавить просмотренное</a>-->
            <a class="btn waves-effect" @click="addFilmToMenu(film)">Добавить просмотренное</a>
        </div>

    </div>


    <script src="https://unpkg.com/vue"></script>

    <script>
        const initHeader =" Что ищешь ты, о воин, впечатай не медля...";

        const vm = new Vue({
            //опции приложения
            el: "#search", //элемент для модификации
            data: { //данные, помещаемые в id=search с помощью {{header}}
                header: "Hello!",
                request: initHeader,
                films: [],
                viewedFilms: [],
                showMenu: false
            },
            computed: { //вычисляемые данные, помещаемые в id=search с помощью {{computedHeader}} - можно в разные места
                computedHeader() {
                    return this.request === '' || this.request === initHeader
                        ? "Ничего не ищем"
                        : this.request.toUpperCase();
                },
                filteredFilms() {
                    if ( this.request !== initHeader && this.request !== '') {
                        return this.films.filter(el => el.title.toLowerCase().includes(this.request.toLowerCase()))
                    } else {
                        return this.films;
                    }
                }
            },
            methods: {
                addFilmToMenu(film) {
                    if ( !this.viewedFilms.find(el => el.title === film.title) ) {
                        this.viewedFilms.push(film);
                    }
                },
                deleteFilm({title}) {
                    this.viewedFilms = this.viewedFilms.filter(el => el.title !== title);
                },
                eventTarget(target) {
                    if (!(target.closest('#menu') || target.closest('#viewed-menu'))) {
                        this.showMenu = false;
                    }
                }
            },
            async mounted() {
                this.films =  await fetch("https://swapi.dev/api/films/").then(res => res.json()).then(data => data.results);
            }
        })
    </script>

</body>
</html>
